<div id="listing">
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Project</th>
        <th>Due</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.description %></td>
          <td><%= task.project %></td>
          <td><%= task.due %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
