<div id="listing">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Project</th>
        <th>Due</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><input type="checkbox" name="<%= task.uuid %>" /></td>
          <td><%= task.description %></td>
          <td><%= task.project %></td>
          <td><%= format_date(task.due) unless task.due.nil? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
