.clearer { clear: both; }

body {
  font: 13.34px helvetica,arial,sans-serif;
}

#page { width: 700px; margin: 30px auto; }

h1 { 
  float: left; 
  padding-top: 0px;
  margin-top: 0px;
  width: 270px;
  height: 55px;
  background: url(/images/logo.png) no-repeat center center;
  text-indent: -9999px;
}

#polling-info {
  width: auto;
  float: right;
  position:relative;
  top: 15px;
}

#navigation ul.tabs {
    background: url("/images/tab_background.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    height: 26px;
    margin: 10px 0 0;
    padding: 6px 10px;
    position: relative;
}
#navigation ul.tabs li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
#navigation ul.tabs li a {
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    padding: 0 8px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
#navigation ul.tabs li a:hover {
    background-color: #CCCCCC;
    color: #333333;
    text-decoration: none;
}
#navigation ul.tabs li a.selected {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-weight: bold;
    position: relative;
    top: -1px;
}
