/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************
 * UTILITY CLASSES
 *******************************/
.clearer { clear: both; }

body {
  font: 13.34px helvetica,arial,sans-serif;
}

#page { width: 960px; margin: 30px auto; }

h1 { 
  float: left; 
  padding-top: 0px;
  margin-top: 0px;
  width: 270px;
  height: 55px;
  background: url(/images/logo.png) no-repeat center center;
  text-indent: -9999px;
}

h2 { font-size: 1.5em; font-weight: bold; margin: 20px 0; }
h3 { font-size: 1.25em; font-weight: bold; margin: 20px 0; }

th { text-align: left; }

/********************************
 * POLLING
 *******************************/
#polling-info {
  width: auto;
  float: right;
  position:relative;
  top: 15px;
}

/********************************
 * NAVIGATION
 *******************************/
#navigation ul.tabs {
    background: url("/images/tab_background.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 0 0;
    height: 26px;
    margin: 10px 0 0;
    padding: 6px 10px;
    position: relative;
}
#navigation ul.tabs li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
#navigation ul.tabs li a {
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    padding: 0 8px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
#navigation ul.tabs li a:hover {
    background-color: #CCCCCC;
    color: #333333;
    text-decoration: none;
}
#navigation ul.tabs li a.selected {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-weight: bold;
    position: relative;
    top: -1px;
}

/********************************
 * SUB-NAVIGATION
 *******************************/
#subnav-bar {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/subnav_background.gif") repeat-x scroll 0 0 transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #FAFAFA #DDDDDD #D2D2D2;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    padding: 0 10px;
    position: relative;
    z-index: 3;
}
#subnav-bar > ul {
    margin: 4px 0 0 1px;
    position: relative;
}
#subnav-bar > ul > li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
    position: relative;
}
#subnav-bar > ul > li > a {
    border: 1px solid transparent;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    display: block;
    font-size: 11px;
    height: 15px;
    padding: 3px 5px;
    position: relative;
    text-decoration: none;
    z-index: 5;
}
#subnav-bar > ul > li:hover > a {
    background-color: #F8F8F8;
    border-color: #CCCCCC;
    color: #333333;
}
#subnav-bar > ul > li > a.selected {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #C5C5C5 #EEEEEE #EEEEEE #C5C5C5;
    color: #000000;
    cursor: default;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}
#subnav-bar > ul > li > ul {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    display: none;
    max-height: 275px;
    overflow: auto;
    position: absolute;
    top: 22px;
    z-index: 4;
}
#subnav-bar > ul > li:hover > ul {
    display: block;
    margin: 0;
    min-width: 180px;
}
#subnav-bar > ul > li > ul > li {
    border-top: 1px solid #E2E2E2;
    font-size: 11px;
    list-style-type: none;
    margin: 0;
}
#subnav-bar > ul > li > ul > li:first-child {
    border-top: medium none;
}
#subnav-bar > ul > li > ul > li > a, .subnav-bar > ul > li > ul > li > strong {
    display: block;
    font-weight: normal;
    padding: 4px 5px;
}
#subnav-bar > ul > li > ul > li > a {
    font-weight: bold;
}
#subnav-bar > ul > li > ul > li > a:hover {
    background-color: #EEEEEE;
    text-decoration: none;
}

ul.view-mode-group { float: right; position: relative; top: -32px; right: 10px; }
li.view-mode a { height: 12px; width: 12px; }

/********************************
 * LISTING STYLES
 *******************************/
#listing table { width: 100%; }
#listing table tr th { background: #eaeaea;  color: #222; }
#listing table tr td,
#listing table tr th { padding: 5px 10px 5px 0; border-bottom: 1px solid #ddd; }
#listing table tr td:first-child { padding-left: 10px; }

/********************************
 * TASK COLORS
 *******************************/
#listing table tr.overdue { background: #fdd; }
#listing table tr.today { background: #ffc; }
#listing table tr.due { background: #BBFFB6; }
#listing table tr.done { color: #c9c9c9; text-decoration: line-through; }
#listing table tr.deleted {  }

h3.project { width: 500px; float: left; }
.doneness-container { border: 1px solid #eee; float: right; margin-top: 20px; width: 200px; height: 20px; }
.doneness-measure { background: #BBFFB6; height: 16px; text-align: center; padding-top: 4px; color: #c9c9c9; font-size: 0.8em; }
