<div class="pull-left">
  <p>TaskwarriorWeb <%= TaskwarriorWeb::VERSION %></p>
</div>
<div class="pull-right">
  <p>
    <a data-toggle="modal" data-target="#help" href="#">Help</a>
    &nbsp;|&nbsp;
    <a href="http://github.com/theunraveler/taskwarrior-web/issues" target="_new">Report a bug</a>
  </p>
</div>
