<div id="help" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="help-modal-label">Help</h3>
  </div>
  <div class="modal-body">
    <h4>Hotkeys</h4>
    <p>TaskwarriorWeb includes hotkeys for quick navigation to commonly-used parts of the application.</p>
    <ul>
      <li><code>1</code>: Go to the "Tasks" (/tasks) page</li>
      <li><code>2</code>: Go to the "Projects" (/projects) page</li>
      <li><code>n</code>: Create a new task</li>
      <li><code>h</code>: Displays and dismisses this help dialog</li>
    </ul>

    <h4>Further reading</h4>
    <p>Check out and contribute to the <a href="http://github.com/theunraveler/taskwarrior-web/wiki/_pages" target="_new">documentation</a>.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
