<div id="hotkeys" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="hotkeys-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="hotkeys-modal-label">Hotkeys</h3>
  </div>
  <div class="modal-body">
    <p>TaskwarriorWeb includes hotkeys for quick navigation to commonly-used parts of the application.</p>
    <ul>
      <li><code>1</code>: Go to the "Tasks" (/tasks) page</li>
      <li><code>2</code>: Go to the "Projects" (/projects) page</li>
      <li><code>n</code>: Create a new task</li>
      <li><code>h</code>: Displays and dismisses this help dialog</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
