<form action="/tasks/<%= @task.uuid %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" class="btn btn-danger" value="Delete" /> or <a href="<%= request.referrer %>">cancel</a>
</form>
